<div ng-controller="QuizQuestionsController as vm">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Questions</h3>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="panel-body">


                <div class="row">
                    <div ng-repeat="item in vm.question">

                        <div class="col-md-12">
                        <div class="jumbotron" >
                            <h1 class="display-4">{{item.question}}</h1>

                            <hr class="my-4">

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name={{item.question}} id={{item.question}} value={{item.option[0].option_value}} >
                                        <label class="form-check-label" for={{item.question}}>
                                            {{item.option[0].option_value}}
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name={{item.question}} id={{item.question}} value={{item.option[1].option_value}}>
                                        <label class="form-check-label" for={{item.question}}>
                                            {{item.option[1].option_value}}
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                <div class="form-check disabled">
                                        <input class="form-check-input" type="radio" name={{item.question}} id={{item.question}} value={{item.option[2].option_value}}>
                                        <label class="form-check-label" for={{item.question}}>
                                            {{item.option[2].option_value}}
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-check disabled">
                                        <input class="form-check-input" type="radio" name={{item.question}} id={{item.question}} value={{item.option[3].option_value}}>
                                        <label class="form-check-label" for={{item.question}}>
                                            {{item.option[3].option_value}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>



                    </div>
                    <div style="text-align: center;">
                    <button type="submit" ng-click="vm.OnSubmitAnswer(vm.question)"  class="btn btn-primary" >Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

